@use '../variables/breakpoints' as bp;

.exp-bar-container {
    width: 200px;  // Base width for mobile
    height: 20px;  // Fixed height instead of percentage
}

.exp-bar {
    height: 100%;
    position: relative;
}

.progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 0.7rem;
    color: black;
    z-index: 1;
    font-family: 'Yngreena';
    width: 100%;
    text-align: center;
}

// Desktop styles
@include bp.respond('breakpoint-lg') {
    
    .exp-bar-container {
        width: 300px;  // Larger width for desktop
        height: 25px;  // Slightly taller for desktop
    }

    .progress-label {
        font-size: 1.2rem;
    }
}
