@use '../variables/breakpoints' as bp;

// Container and Layout
#nutrition-tracker {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
    position: relative;
    
    &.container {
        max-width: 100%;
        padding: 0;
        height: 100%;
    }
}

// Header Section
.nutrition-tracker-header {
    text-align: left;
    color: white;
    margin: 10px 20px 0 20px;
    display: inline-block;
}

.nutrition-tracker-date {
    text-align: left;
    color: white;
    margin: 10px 0 0 10px;
    display: inline-block;
}

.calendar-icon {
    filter: brightness(0) invert(1);
    margin-right: 5px;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

// Stats Grid Section
.unit-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 10px;
    width: 20%;
    padding: 5px;
}

.panel-unit {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;
        padding: 0;
        margin: 0;
    }
}

// Panel Unit Elements
.unit-header {
    text-align: center;
    color: #000000;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.unit-body {
    text-align: left;
    color: #000000;
    font-size: 0.7rem;
    margin: 2px 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 5px;
}

.unit-bar {
    width: 60%;
    min-height: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

// Forms Section
.nutrition-tracker-forms-container {
    display: flex;
    flex-direction: row;
}

// Search Form
.nutrition-tracker-form {
    position: absolute;
    left: 20%;
    top: 5%;
    background-color: rgb(209, 169, 108);
    background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding: 20px;
    width: 75%;
    max-width: 650px;
    height: 320px;
    color: #fff;
    overflow-y: hidden;

    .form-label {
        color: #fff; 
        font-weight: bold;
        font-family: 'Yngreena-Bold';
        font-size: 1.2rem;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.8); 
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 0.7rem;
        padding: 5px 10px;
    }
}

// Buttons
.search-button {
    background-color: #8B4513; 
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 0.7rem;
    height: 30px;

    &:hover {
        background-color: #A0522D;
    }
}

.home-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100px;
    font-size: 0.8rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    transform: translateY(300px);
    padding: 5px 10px;
    cursor: pointer;
}

// Results Section
.nutrition-tracker-results-container {
    position: absolute;
    left: 20%;
    top: 380px;
    background-color: rgb(209, 169, 108);
    background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 75%;
    max-width: 650px;
    height: 320px;
    color: #fff;
    overflow-y: auto;
}

.nutrition-results-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 5px;
}

.nutrition-tracker-results-content {
    width: calc(50% - 5px);
    min-width: 200px;
    margin-bottom: 5px;
    font-size: 0.8rem;

    .accordion {
        width: 100%;
    }
}

// Accordion Styles
.accordion {
    background-color: rgba(41, 182, 100, 0.5);
    width: 100%;

    .accordion-item {
        background-color: rgba(166, 231, 193, 0.5);
    }
}

.nutrition-tracker-results-header {
    color: #000000;
    display: flex;  
    justify-content: space-between;
    max-height: 50px;
    overflow: hidden;

    .accordion-button {
        &::after {
            position: absolute;
            left: 10px;
            margin-left: 0;
            width: 20px;
            height: 20px;
        }

        padding-left: 40px;
        height: 50px;
        white-space: nowrap;
    }

    .food-title {
        font-size: 0.8rem;
        margin-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
    }
    
    .delete-button {
        position: absolute;
        top: 1px;
        left: 85%;
        border: none;
        border-radius: 5px;
        padding: 5px 20px;
        cursor: pointer;
        font-size: 0.8rem;
        color: red;
    }
}

.nutrition-tracker-results-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 0.6rem;

    p {
        margin: 0;
    }
}

// Parallax Container
.react-parallax {
    height: 100vh;
    overflow-y: auto;
}

// Desktop Styles
@include bp.respond('breakpoint-lg') {
    #nutrition-tracker {
        overflow-y: hidden;
    }

    .react-parallax {
        overflow-y: hidden;
    }

    .nutrition-tracker-header {
        display: block;
        text-align: center;
        margin: 10px auto 0;
    }

    .nutrition-tracker-date {
        display: block;
        text-align: center;
        margin: 10px auto 0;
    }

    .unit-grid {
        gap: 20px;
        padding: 20px;
        margin: 0 auto;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
    }

    .panel-unit {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 80%;
        }
    }

    .unit-header {
        text-align: center;
        color: #000000;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    
    .unit-body {
        text-align: left;
        color: #000000;
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .unit-bar {
        width: 60%;
        min-height: 10px;
        height: 10px;
        margin: 0;
        padding: 0;
    }

    .nutrition-tracker-form {
        position: relative;
        left: 15%;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        height: 600px;
        margin-top: 20px;
    }

    .nutrition-tracker-form .form-label {
        color: #fff; 
        font-weight: bold;
        font-family: 'Yngreena-Bold';
        font-size: 1.2rem;
    }
    
    .nutrition-tracker-form .form-control {
        background-color: rgba(255, 255, 255, 0.8); 
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1rem;
        height: 38px;
        padding: 6px 12px;
    }

    .search-button {
        padding: 5px 20px;
        font-size: 1rem;
        height: 38px;
    }

    .home-button {
        bottom: 50px;
        left: auto;
        right: 50px;
        width: auto;
        padding: 10px 20px;
        font-size: 1.2rem;
        transform: translateY(0px);
    }
    
    .nutrition-tracker-results-container {
        position: relative;
        top: 5%;
        left: 20%;
        height: 600px;
        margin-top: 20px;
    }

    .nutrition-tracker-results-body {
        font-size: 0.8rem;
    }

    .nutrition-tracker-results-header {
        .accordion-button {
            &::after {
                position: absolute;
                left: 10px;
                margin-left: 0;
                width: 20px;
                height: 20px;
            }

            padding-left: 40px;
        }

        .food-title {
            font-size: 1rem;
        }

        .delete-button {
            padding: 5px 20px;
            position: absolute;
            top: 1px;
            left: 88%;
        }
    }
}