@use '../variables/breakpoints' as bp;

#town {
    // Make Container cover the entire screen
    height: 100vh;
    width: 100vw;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: auto;
}

.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    border-color: black;
    cursor: pointer;
    background: #fff;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 0.5rem 0.8rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    will-change: transform;
    backface-visibility: hidden;
}

.login-button:hover {
  transform: scale(1.05);
  color: #212121;
  border-color: black;
  background-color: #fff;
}

.player-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .exp-bar-container {
        position: relative;
        top: -10px;
        left: 15px;
        margin-bottom: 10px;
        order: 1;
    }

    .player {
        transform: scaleX(-1);
        scale: 1;
        order: 0;
    }

    .menu-icons {
        position: relative;
        top: 15px;
        left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        order: -1;
    }
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.menu-icon:hover {
    background-color: gold;
}

.mi1 {
    transform: translate(10px, 30px);
}

.mi4 {
    transform: translate(-10px, 30px);
}

.logout-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.logout-icon:hover {
    background-color: gold;
}

.level-up-message {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.0rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Black outline */
    animation: floatUp 5s ease-out forwards, rainbowText 5s linear infinite;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50px);
    }
}

@keyframes rainbowText {
    0% { color: red; }
    16% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: indigo; }
    100% { color: violet; }
}

@include bp.respond('breakpoint-lg') {
    .logo {
        width: 10%;
    }

    .player-container {
        top: 65%;
        left: 50%;
        
        .exp-bar-container {
            top: 40px;
            left: 30px;
        }

        .player {
            scale: 1.6;
        }

        .menu-icons {
            flex-direction: column;
            top: 50px;
            left: 40%;
        }
    }

    .level-up-message {
        left: 50%;
        top: 70%;
        font-size: 1.5rem;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
        margin: 10px;
        transition: transform 0.3s ease-in-out;
    }   

    .menu-icon:hover {
        transform: translateY(-5px);
    }

    .mi1 {
        transform: translate(0, 0);
    }
    
    .mi4 {
        transform: translate(0, 0);
    }

    .login-button {
        top: 20px;
        right: 20px;
        font-size: 1.2rem;
        padding: .875rem 1.125rem;
    }

    .logout-icon {
        width: 50px;
        height: 50px;
        margin: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .logout-icon:hover {
        transform: translateY(-5px);
    }
}