#town {
    // Make Container cover the entire screen
    height: 100vh;
    width: 100vw;
}

.logo {
    position: absolute;
    // top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: auto;
}

.player {
    position: absolute;
    top: 80%;
    left: 50%;
    scale: 1.6;
    transform: scaleX(-1);
}

// Animations for the Player Menu
@keyframes townSlideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes townSlideOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}

.player-menu {
    // Flexbox
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // Animation
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    // Position
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 40%;
    // Style
    border: 3px solid skyblue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: #DECFB1;
    padding: 10px;
}

.player-menu.town-open {
    animation-name: townSlideIn;
}

.player-menu.town-close {
    animation-name: townSlideOut;
}

.player-menu-button {
    background: #746459;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.level-up-message {
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Black outline */
    animation: floatUp 5s ease-out forwards, rainbowText 5s linear infinite;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50px);
    }
}

@keyframes rainbowText {
    0% { color: red; }
    16% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: indigo; }
    100% { color: violet; }
}