@use '../variables/breakpoints' as bp;

@keyframes playerInfoSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes playerInfoSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.player-info {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 40%;
    min-height: 100vh;
    min-height: calc(var(--vh) * 100);
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    margin-top: 20px;
}

.player-info.open {
    animation-name: playerInfoSlideIn;
}

.player-info.close {
    animation-name: playerInfoSlideOut;
}

.player-info-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);

    h5 {
        font-size: clamp(0.7rem, 1vw + 0.5rem, 1.6rem);
    }
}

.player-info-close-button {
    position: absolute;
    top: 22%;
    right: 12%;
    font-size: 0.7rem;
}

// Desktop styles
@include bp.respond('breakpoint-lg') {
    
    .player-info {
        top: 20%;
        left: 5%;
        width: 40%;
        min-height: 65%;
        margin-top: 0;
    }

    .player-info-body {
        left: 20%;
        width: 70%;
    }

    .player-info-close-button {
        transform: translateX(-50px);
        top: 10%;
        font-size: 1.3rem;
    }
}