@use '../variables/breakpoints' as bp;

@keyframes playerInfoSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes playerInfoSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.player-info {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 40%;
    min-height: 100%;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.player-info.open {
    animation-name: playerInfoSlideIn;
}

.player-info.close {
    animation-name: playerInfoSlideOut;
}

.player-info-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.player-info-close-button {
    position: absolute;
    top: 22%;
    right: 12%;
    font-size: 0.7rem;
}

@include bp.respond('breakpoint-lg') {
    .player-info {
        top: 20%;
        left: 10%;
        width: 30%;
        min-height: 60%;
    }

    .player-info-close-button {
        right: 11%;
        top: 11%;
        font-size: 1rem;
    }
}
