@use '../variables/breakpoints' as bp;

.profile-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; 
    background-color: rgba(240, 240, 240, 0.95);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    width: 20px;
    height: 20px;
    background-color: #9b9bff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name {
    font-size: 0.7rem;
    font-weight: 500;
    color: #333;
}

.profile-level {
    font-size: 0.7rem;
    font-weight: 400;
    color: #666;
}

.profile-level {
  transition: transform 0.3s ease, color 0.3s ease;
}

.level-up {
  transform: scale(1.2);
  color: gold;
}

@include bp.respond('breakpoint-lg') {
    .profile-container {
        padding: 10px 15px;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .profile-picture {
        width: 40px;
        height: 40px;
    }

    .profile-name {
        font-size: 1rem;
    }

    .profile-level {
        font-size: 1rem;
    }
}
