@use '../variables/breakpoints' as bp;

@keyframes questInfoSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes questInfoSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.quest-info {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 40%;
    min-height: 100%;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.quest-info.open {
    animation-name: questInfoSlideIn;
}

.quest-info.close {
    animation-name: questInfoSlideOut;
}

.quest-log-tabs {
    position: absolute;
    margin-top: 10px;
    top: 20%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: 'Yngreena-Bold';
    font-size: 0.6rem;
}

.quest-log-tabs .nav-link {
    color: #000 !important;
    background-color: transparent !important;
    padding: 0.2rem 0.5rem;
}

.quest-log-body {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 80%;
    max-height: 45%;
    overflow-y: auto;
    height: 100%;
    margin-top: 10px;
}

.quest-log-button {
    margin-top: 10px;
    float: right;
    background-color: #695a3d;
    border-color: #695a3d;
    font-size: 0.5rem;
    width: 100%;
    padding: 0.2rem 0.5rem;
}

.quest-log-button:hover {
    background-color: #3b3323;
    border-color: #695a3d;
}

.quest-log-button:active {
    background-color: #3b3323 !important;
    border-color: #695a3d !important;
}

.quest-log-button:focus {
    background-color: green;
    border-color: green;
}

.quest-log-button:disabled {
    background-color: grey;
    border-color: grey;
}

.quest-accepted {
    background-color: green !important;
    border-color: green !important;
}

.quest-log-close-button {
    position: absolute;
    top: 22%;
    right: 12%;
    font-size: 0.7rem;
}


@include bp.respond('breakpoint-lg') {
    .quest-info {
        top: 20%;
        left: 10%;
        width: 30%;
        min-height: 60%;
    }

    .quest-log-tabs {
        font-size: 1.3rem;
        width: 80%;
        top: 8%;
        left: 10%;
    }

    .quest-log-tabs .nav-link {
        color: #000 !important;
        background-color: transparent !important;
        padding: 0.5rem 1rem !important;
    }

    .quest-log-body {
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        max-height: 60%;
    }

    .quest-log-button {
        font-size: 1.2rem;
        width: 40%;
    }

    .quest-log-close-button {
        right: 10%;
        top: 10%;
        font-size: 1rem;
    }
}